@media (min-width: 1920px)  {
  .one1{
    color: yellow;
  }
}



@media (min-width: 1440px) and (max-width: 1919px) {
  .one1{
    color: orange;
  }
}

@media (min-width: 1024px) and (max-width: 1443px){
  .one1{
    color: purple;
  }
}


@media (min-width: 768px) and (max-width: 1023px){
  .one1{
    color: pink;
  }
}

/* -------------------------------------------------------------------------414 */


@media (min-width: 415px) and (max-width: 767px){
.one1{
  color: red;
}
}

@media (min-width: 319px) and (max-width: 414px){
  .one1{
    color: blue;
  }
}
